.link {
  display: block;
  padding: 5px;
  margin-left: 50px;
  margin-top: 20px;
  text-decoration: none;
  color: #202931;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgb(177, 169, 169);
}
.title {
  text-align: center;
  font-size: 27px;
}
.container {
  display: flex;
  justify-content: center;
}
.descr {
  width: 500px;
  font-size: 20px;
  text-align: justify;
}
.descrDate {
  font-size: 16px;
}
.img {
  margin-right: 20px;
  width: 300px;
}
.descrAd {
  width: 500px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}
.navLink{
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #d2d9df;
  font-size: 25px;

}
